<cfcomponent extends="Model" output="false">

	<cffunction name='init'>
		<cfset super.init()>

		<!-- associations -->
		<cfset hasMany(name="sensorvalues", foreignKey="sensortypeid")>


	</cffunction>




</cfcomponent>