#wheels-debug-area {
	z-index: 99;
	position: absolute;
	margin: 0 auto;
	left: 250px;
	/*width: 100%;*/
	display:none;
}

body {
    background-color: #323044;
}

.tile {
	width : 100%;
	border-radius : 2px;
	padding : 3%;
	background-color:white;
}

.container{
	border-radius : 3px;
	width : 80%;
	background-color:white;
	margin-top:2%;
}

plot {
	width : 100%;
}

.led {
    margin: 20px auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}

